name: Staging Deployment Coffee App

on:
  workflow_call:
    inputs:
      build_id:
        required: true
        type: string

permissions:
  actions: read
  contents: read

jobs:
  deploy-coffee-app:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: yaswanth67/infra-deployment
          token: ${{ secrets.ORG_PAT }}

      - name: Download artifact from main repo
        uses: actions/download-artifact@v3
        with:
          github-token: ${{ secrets.ORG_PAT }}
          repository: yaswanth67/Coffee-shop
          run-id: ${{ inputs.build_id }}
          name: coffee-build
          path: ./deployment/coffeeApp

      - name: Checkout feature-condiguration branch
        uses: actions/checkout@v4
        with:
          repository: yaswanth67/Feature-configuration
          path: ./deployment/feature-configuration/app
          token: ${{ secrets.ORG_PAT }}

      - name: set ssh key
        run: |
          mkdir -p ${{ github.workspace }}/.ssh
          echo "${{ secrets.PRODUCTION_SECRET_KEY }}" > ${{ github.workspace }}/.ssh/id_rsa

      - name: Build Ansible Docker Image
        run: docker build -t ansible-runner .

      - name: Run Ansible in Docker
        run: |
          docker run --rm --network host \
            -e ANSIBLE_HOST_KEY_CHECKING=False \
            -e PRODUCTION_IP="${{ secrets.PRODUCTION_IP }}" \
            -e PRODUCTION_USER="${{ secrets.PRODUCTION_USER }}" \
            -e DATABASE_PASSWORD="${{ secrets.PRODUCTION_DATABASE_PASSWORD }}" \
            -v ./.ssh:/root/.ssh:ro \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            ansible-runner \
            ansible-playbook -i Hosts.yaml --limit production_server ansible.yaml
