name: Staging Deployment Coffee App

on:
  workflow_call:
    inputs:
      build_id:
        required: true
        type: string

permissions:
  contents: read

jobs:
  deploy-coffee-app:
    runs-on: self-hosted
    steps:
      - name: Download artifact from main repo
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.ORG_PAT }}
          repository: yaswanth67/Coffee-shop
          run-id: ${{ inputs.build_id }}
          name: coffee-build
          path: ./deployment/coffeeApp

      - name: Checkout feature-configuration repo
        uses: actions/checkout@v4
        with:
          repository: yaswanth67/Feature-configuration
          path: ./deployment/feature-configuration/app
          token: ${{ secrets.ORG_PAT }}

      - name: Set SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.STAGING_SECRET_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Build Ansible Docker Image
        run: docker build -t ansible-runner .

      - name: Run Ansible in Docker
        run: |
          docker run --rm --network host \
            -e ANSIBLE_HOST_KEY_CHECKING=False \
            -e STAGING_IP="${{ secrets.STAGING_IP }}" \
            -e STAGING_USER="${{ secrets.STAGING_USER }}" \
            -e DATABASE_PASSWORD="${{ secrets.STAGING_DATABASE_PASSWORD }}" \
            -v ~/.ssh:/root/.ssh:ro \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            ansible-runner \
            ansible-playbook -i Hosts.yaml --limit staging_server ansible.yaml
